.chatbody{
    flex:0.65;
    display: flex;
    flex-direction: column;
    .header{
        width: 100%;
        height: 60px;
        background-color: #F2F2F2;
        border: 1px solid #E7E7E7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        h3{
            font-weight: 400;
            font-size: 16px;
            margin-right: auto;
            padding: 15px;
        }
    }
    .chat-body{
        background-image: url('https://i.ibb.co/dDWJmJk/wallpaper-wa.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        .chat-bubble{
            width: fit-content;
            background-color: white;
            border-radius: 10px;
            height: fit-content;
            padding: 10px;
            padding-right: 20px;
            margin: 20px;
            font-size: 14px;
            box-shadow: 0px 1px 0px #A6A6A6;
            .name{
                font-weight: 500;
                color: lightskyblue;
                margin-bottom: 5px;
                font-size: 14px;
            }
        }
        .ourself{
            padding-left: 10px;
            margin-left: auto;
            background-color: #CCF9BD;
            .name{
                display: none;
            }
        }
    }
    .chat-input{
        height: 60px;
        width: 100%;
        background-color: #F2F2F2;
        border: 1px solid #E7E7E7;
        display: flex;
        align-items: center;
        .emot-icon{
            flex:0.1;
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
        form{
            flex:0.8;
            height: 75%;
            input{
                padding: 20px;
                border: none;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                outline: none;
            }
            button{
                display: none;
            }
        }  
        .mic{
            flex: 0.1;

        }
    }
}